.idea/
*.pyc
*.pyo
*.pid
*.dat
*.sdf
build/

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Custom pid
*.pid

# Other
*.tar
*.gz
*.7z
*.zip
*.rar

# Large file
voc.txt

# Windows
[Tt]humbs.db