<div class="ui two column stackable grid">
    <div class="stretched row">
        <div class="column">
            <div class="ui raised segments logger" data-name="system" rv-on-click="log.zero">
                <div class="ui segment">
                    <div class="ui middle aligned two column grid">
                        <div class="left aligned column">
                            <div class="ui large purple label">
                                System Log
                                <div class="detail">{{ log.new }}</div>
                            </div>
                        </div>
                        <div class="right aligned column">
                            <div class="ui compact icon button" rv-on-click="log.changeScroll">
                                <i class="icon" rv-class-play="log.scroll | !" rv-class-pause="log.scroll"></i>
                            </div>
                            <div class="ui compact button" rv-on-click="log.clear">
                                Clear
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui segment scrollable" rv-class-red="style.color |=== 1" rv-class-blue="style.color |=== 2">
                    <div class="ui divided items">
                        <div class="item" rv-each-event="log.events">
                            <div class="middle aligned content">
                                <i class="grey info icon" rv-if="event.level |=== 0"></i>
                                <i class="green checkmark icon" rv-if="event.level |=== 1"></i>
                                <i class="orange warning sign icon" rv-if="event.level |=== 2"></i>
                                <i class="red remove icon" rv-if="event.level |=== 3"></i>
                                {{ event.message }} <span class="light">({{ event.time }})</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="ui raised segments rv">
                <div class="ui segment">
                    <div class="ui large purple label">
                        Communication Controls
                    </div>
                </div>
                <div class="ui segment" rv-class-red="style.color |=== 1" rv-class-blue="style.color |=== 2">
                    <div class="ui button" rv-on-click="wamp.connect">
                        Connect to Server
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>