<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>Zeus | EDD 2016</title>
    <link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="css/phi.css">
</head>
<body>
<div id="menu" class="ui inverted top attached menu blue">
    <a class="ui icon item">
        <i class="home icon"></i>
    </a>
    <div class="ui dropdown icon item">
        <i class="options icon"></i>
        <div class="menu">
            <div rv-on-click="menu.comSettings" class="item" rv-class-disabled="state.com.state |!== 'closed'">
                Communication
            </div>
            <div rv-on-click="menu.speechSettings" class="item">Speech</div>
            <div rv-on-click="menu.saveSettings" class="item">Save Settings</div>
            <div rv-on-click="menu.resetSettings" class="item">Reset</div>
        </div>
    </div>

    <div class="right menu">
        <a class="item name" href="https://google.com/" target="_blank">Penumbra</a>
    </div>
</div>

<div class="ui bottom attached segment">
    <div class="ui stackable grid">
        <div class="stretched row">
            <div class="twelve wide column">
                <div class="ui raised segments logger" data-name="system" rv-on-click="log.zero">
                    <div class="ui segment">
                        <div class="ui middle aligned two column grid">
                            <div class="left aligned column">
                                <div class="ui large purple label">
                                    System Log
                                    <div class="detail">{{ log.new }}</div>
                                </div>
                                <div class="ui large green label" rv-show="state.com.state |=== 'open'">
                                    <i class="wifi icon"></i> On
                                </div>
                                <div class="ui large red label" rv-show="state.com.state |!== 'open'">
                                    <i class="wifi icon"></i> Off
                                </div>
                            </div>
                            <div class="right aligned column">
                                <div class="ui compact icon button" rv-on-click="log.changeScroll">
                                    <i class="icon" rv-class-play="log.scroll | !" rv-class-pause="log.scroll"></i>
                                </div>
                                <div class="ui compact button" rv-on-click="log.clear">
                                    Clear
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui segment scrollable blue">
                        <div class="ui divided items">
                            <div class="item" rv-each-event="log.events">
                                <div class="middle aligned content">
                                    <i class="grey info icon" rv-if="event.level |=== 0"></i>
                                    <i class="green checkmark icon" rv-if="event.level |=== 1"></i>
                                    <i class="orange warning sign icon" rv-if="event.level |=== 2"></i>
                                    <i class="red remove icon" rv-if="event.level |=== 3"></i>
                                    {{ event.message }} <span class="light">({{ event.time }})</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="four wide column">
                <div class="ui raised segments">
                    <div class="ui segment">
                        <div class="ui large purple label">
                            System Control
                        </div>
                    </div>
                    <div class="ui segment blue controller">
                        <div class="ui button" rv-on-click="wamp.connect">
                            Connect to Server
                        </div>
                        <div class="ui button" rv-on-click="pack.stopWatch">
                            Stop Watch
                        </div>
                        <div class="ui button" rv-on-click="pack.centerHead">
                            Center Head
                        </div>
                        <div class="ui button" rv-on-click="pack.pushup">
                            Push Up
                        </div>
                        <div class="ui button" rv-on-click="pack.watch">
                            Watch
                        </div>
                        <div class="ui button" rv-on-click="pack.zero">
                            Zero
                        </div>
                        <div class="ui button" rv-on-click="pack.bindKeys">
                            Bind Keys
                        </div>
                        <div class="ui button" rv-on-click="pack.unbindKeys">
                            Unbind Keys
                        </div>
                        <div class="ui button" rv-on-click="speech.start">
                            Start Voice Recognition
                        </div>
                        <div class="ui button" rv-on-click="speech.stop">
                            Stop Voice Recognition
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui divider"></div>

        <div class="stretched row">
            <div class="eight wide column">
                <div class="ui raised segments logger" data-name="pack1" rv-on-click="log.zero">
                    <div class="ui segment">
                        <div class="ui middle aligned grid">
                            <div class="left floated left aligned eleven wide column">
                                <div class="ui large purple label">
                                    Pack 1 Log
                                    <div class="detail">{{ log.new }}</div>
                                </div>
                                <div class="ui large green label" rv-show="state.pack1.connected">
                                    <i class="wifi icon"></i> On
                                </div>
                                <div class="ui large red label" rv-show="state.pack1.connected | !">
                                    <i class="wifi icon"></i> Off
                                </div>
                                <div class="ui large green label" rv-show="state.bind.active |=== 'pack1'">
                                    <i class="keyboard icon"></i> On
                                </div>
                                <div class="ui large red label" rv-show="state.bind.active |!== 'pack1'">
                                    <i class="keyboard icon"></i> Off
                                </div>
                            </div>
                            <div class="right floated right aligned five wide column">
                                <div class="ui compact icon button" rv-on-click="log.changeScroll">
                                    <i class="play icon" rv-show="log.scroll | !"></i>
                                    <i class="pause icon" rv-show="log.scroll"></i>
                                </div>
                                <div class="ui compact button" rv-on-click="log.clear">
                                    Clear
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui segment scrollable blue">
                        <div class="ui divided items">
                            <div class="item" rv-each-event="log.events">
                                <div class="middle aligned content">
                                    <i class="grey info icon" rv-if="event.level |== 0"></i>
                                    <i class="green checkmark icon" rv-if="event.level |=== 1"></i>
                                    <i class="orange warning sign icon" rv-if="event.level |=== 2"></i>
                                    <i class="red remove icon" rv-if="event.level |=== 3"></i>
                                    {{ event.message }} <span class="light">({{ event.time }})</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="four wide column">
                <div class="ui raised segments controller">
                    <div class="ui segment">
                        <div class="ui large purple label">
                            Pack 1 Direct
                        </div>
                    </div>
                    <div class="ui segment blue">
                        <form class="ui form">
                            <div class="fields">
                                <div class="eight wide field">
                                    <label>Forward (cm/s)</label>
                                    <input type="number" step="0.5" name="v1" placeholder="v1" rv-value="state.pack1.v1">
                                </div>
                                <div class="eight wide field">
                                    <label>Rotation (rad/s)</label>
                                    <input type="number" step="0.02" name="v1" placeholder="v2" rv-value="state.pack1.v2">
                                </div>
                            </div>
                            <div class="fields">
                                <div class="eight wide field">
                                    <label>Head LR (deg)</label>
                                    <input type="number" step="2" name="p1" placeholder="p1" rv-value="state.pack1.p1">
                                </div>
                                <div class="eight wide field">
                                    <label>Head UD (deg)</label>
                                    <input type="number" step="2" name="p2" placeholder="p2" rv-value="state.pack1.p2">
                                </div>
                            </div>

                            <div class="ui divider"></div>

                            <div class="ui fluid button" rv-on-click="pack.pack1.setVector">
                                Set Motion
                            </div>
                            <div class="ui fluid button" rv-on-click="pack.pack1.setHead">
                                Set Head
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="four wide column">
                <div class="ui raised segments feed" data-name="pack1">
                    <div class="ui segment">
                        <div class="ui middle aligned grid">
                            <div class="left floated left aligned fourteen wide column">
                                <div class="ui large purple label">
                                    Pack 1 Video
                                </div>
                            </div>
                            <div class="right floated right aligned two wide column">
                                <div class="ui compact icon button" rv-on-click="feed.changeStream">
                                    <i class="play icon" rv-show="feed.play | !"></i>
                                    <i class="pause icon" rv-show="feed.play"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment center aligned container blue">
                        <img src="https://unsplash.it/640/480">
                    </div>
                </div>
            </div>

        </div>

        <div class="stretched row">
            <div class="column">
                <div class="ui raised segments logger" data-name="pack2" rv-on-click="log.zero">
                    <div class="ui segment">
                        <div class="ui middle aligned grid">
                            <div class="left floated left aligned eleven wide column">
                                <div class="ui large purple label">
                                    Pack 2 Log
                                    <div class="detail">{{ log.new }}</div>
                                </div>
                                <div class="ui large green label" rv-show="state.pack2.connected">
                                    <i class="wifi icon"></i> On
                                </div>
                                <div class="ui large red label" rv-show="state.pack2.connected | !">
                                    <i class="wifi icon"></i> Off
                                </div>
                                <div class="ui large green label" rv-show="state.bind.active |=== 'pack2'">
                                    <i class="keyboard icon"></i> On
                                </div>
                                <div class="ui large red label" rv-show="state.bind.active |!== 'pack2'">
                                    <i class="keyboard icon"></i> Off
                                </div>
                            </div>
                            <div class="right floated right aligned five wide column">
                                <div class="ui compact icon button" rv-on-click="log.changeScroll">
                                    <i class="icon" rv-class-play="log.scroll | !" rv-class-pause="log.scroll"></i>
                                </div>
                                <div class="ui compact button" rv-on-click="log.clear">
                                    Clear
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui segment scrollable blue">
                        <div class="ui divided items">
                            <div class="item" rv-each-event="log.events">
                                <div class="middle aligned content">
                                    <i class="grey info icon" rv-if="event.level |== 0"></i>
                                    <i class="green checkmark icon" rv-if="event.level |=== 1"></i>
                                    <i class="orange warning sign icon" rv-if="event.level |=== 2"></i>
                                    <i class="red remove icon" rv-if="event.level |=== 3"></i>
                                    {{ event.message }} <span class="light">({{ event.time }})</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/autobahn.min.js"></script>
<script src="semantic/semantic.min.js"></script>
<script src="js/rivets.bundled.min.js"></script>
<script src="js/annyang.min.js"></script>
<script src="js/phi.js"></script>
</body>
</html>