span.light {
  display: inline-block;
  float: none;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 0 .5em;
  padding: 0;
  color: rgba(0, 0, 0, .4);
}

.segment.scrollable {
  overflow: auto;
  height: 300px;
}

.feed {
  img {
    max-width: 640px;
    width: 100%;
  }
}

#controller {
  .button {
    margin-bottom: 0.75em;
  }
}
