span.light {
  display: inline-block;
  float: none;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 0 .5em;
  padding: 0;
  color: rgba(0, 0, 0, .4);
}

.segment.scrollable {
  overflow: auto;
  height: 300px;
}

.feed {
  img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }

  .container {
    height: 300px;
  }
}

.controller.padded {
  .button {
    margin-bottom: 0.75em;
  }
}
